.container {
  padding-top: 0; }
  @media only screen and (max-width: 767px) {
    .container {
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      width: 100%; } }

.tabs {
  margin-top: 50px; }

.message-list > .row {
  margin-bottom: 0; }

.messages .message {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center; }

.messages .btn {
  padding: 0 1rem; }

.messages .messages-header > div:last-child {
  text-align: center; }

.messages .message > div:last-child {
  text-align: center; }
