html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: LeagueGothic, Helvetica, Verdana, Sans-Serif;
  margin: 0;
  background-color: black;
  font-weight: lighter;
  letter-spacing: 2px;
}

.list-container {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,213,214,1)), color-stop(1%,rgba(212,213,214,1)), color-stop(43%,rgba(213,219,223,0.02)), color-stop(56%,rgba(213,221,226,0.24)), color-stop(91%,rgba(225,230,247,0.84)), color-stop(100%,rgba(239,244,247,1)));
  background-size: cover;
  flex-direction: column;

  .list-item {
    width: 75%;
    height: 55px;
    font-size: 24px;
    padding-left: 15px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 3px #aaa
  }

  .list-button {
    border: 0;
    background-color: #967BB6;
    color: black;
    cursor: pointer;
  }

  .list-button:active:focus {
    outline: none;
    box-shadow: none;
  }

  .list-button:focus {
    outline: none;
    box-shadow: 3px 3px 3px #aaa;
  }
}
