$mainColor: #7C4DFF;
$secondaryColor: #B9A0FE;
$thirdColor: #9874FF;
$fourthColor: #5D23FF;
$fifthColor: #4A0AFC;

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: LeagueGothic, Helvetica, Verdana, Sans-Serif;
  margin: 0;
  background-color: black;
  font-weight: lighter;
  letter-spacing: 2px;
}

.list-container {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$fourthColor), color-stop(56%,#fff), color-stop(100%,$fourthColor));
  background-size: cover;
  flex-direction: column;

  .list-item {
    width: 75%;
    height: 55px;
    font-size: 24px;
    padding-left: 15px;
    margin-bottom: 15px;
  }

  .list-button {
    border: 0;
    background-color: $thirdColor;
    color: black;
    cursor: pointer;
  }

  .list-button:active:focus {
    outline: none;
  }

  .list-button:focus {
    outline: none;
  }
}
